* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}

.background-image {
    background-image: url('./images/dogatbeach.jpg.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
  }

#header {
    color: rgb(99, 82, 82);
    opacity: 0.6;
  }

ul {
    text-align: right;
    list-style: none;
    padding: 2%;
  }

ul li {
    list-style: none;
    display: inline-block;
    line-height: 100%;
}

ul li a {
    color: rgb(99, 82, 82);
    font-size: 25px;
    padding: 5% 20px;
}

ul li a:hover {
    background-color: beige;
    opacity: 0.6;
}

#center-heading {
    text-align: center;
    color: rgb(99, 82, 82);
    padding-top: 4%;
    margin-bottom: 1%;
}

p {
  text-align: center;
}

img {
  width: 200px;
  display: inline-block;
  margin: 1%;
  padding: 10px;
  opacity: 0.7;
}

div .homepage-images {
  display: flex;
  justify-content: space-evenly;
}

.social-links {
  text-align: center;
  font-size: 35px;
  padding-top: 140px;
}

section div {
  display: inline-block;
  text-align: center;
  padding: 50px;
  text-decoration: underline;
}

section.meetups {
  display: flex;
  justify-content: space-evenly;
}

section div h1 {
  padding-top: 20px;
}

#meetup-yas {
  background-image: url('./images/palm.jpg');
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
  height: 60vh;
  opacity: 0.8;
}

#meetup-whathba {
  background-image: url('./images/desert.jpg');
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
  height: 60vh;
  opacity: 0.8;
}

#meetup-flopster {
  background-image: url('./images/beach.jpg');
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
  height: 60vh;
  opacity: 0.8;
}

#meetup-kubaira {
  background-image: url('./images/agility.jpg');
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
  height: 60vh;
  opacity: 0.8;
}

#meetup-salt {
  background-image: url('./images/hamburger.jpg');
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
  height: 60vh;
  opacity: 0.8;
}

div p {
  margin-top: 40px;
}

header h1 {
  color: rgb(99, 82, 82);
  text-align: center;
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  img {
    width: 100px;
    margin-top: 20px;
  }

  #meetup-yas {
    background-attachment: local;
    background-size: cover;
    height: 40vh;
  }
  
  #meetup-whathba {
    background-attachment: local;
    background-size: cover;
    height: 40vh;
  }
  
  #meetup-flopster {
    background-attachment: local;
    background-size: cover;
    height: 40vh;
  }
  
  #meetup-kubaira {
    background-attachment: local;
    background-size: cover;
    height: 40vh;
  }
  
  #meetup-salt {
    background-attachment: local;
    background-size: cover;
    height: 40vh;
  }

  section div h1 {
    background-color: antiquewhite;
    opacity: 0.5;
  }

  div h3 {
    background-color: antiquewhite;
    opacity: 0.5;
  }

  div p {
    background-color: antiquewhite;
    opacity: 0.5;
  }

  section.meetups {
    flex-direction: column-reverse;
  }
}


